{% load static %}
<html lang=""><head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Material Design Login Page with Bootstrap in Free Propeller Material Admin Theme by Propeller.">
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport">
<title>Login | Propeller - Admin Dashboard</title>

<!-- Google icon -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	

<script async="" src="https://www.google-analytics.com/analytics.js"></script><script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-124615-22', 'auto');
  ga('send', 'pageview');
</script>

 <link href="{% static 'css/login.css' %}" rel="stylesheet">


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.12/jquery.mousewheel.min.js"></script><link rel="preconnect" href="https://fonts.googleapis.com" crossorigin="true">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&amp;display=swa">
</head>
<style type="text/css">
  
</style>
<body class="body-custom">
	<div class="contenedor ">
		<div class="card cardlogin">
			

    <div class="row g-0 d-flex align-items-center ">
      <div class="col-lg-6 d-none d-lg-flex ">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-lg-6">
        <div class="card-body py-5 px-md-5">

          <form  action="Userauth/" method="POST" >
            {% csrf_token %}
            <!-- Email input -->
            <div class="form-outline mb-4">
              <div class="form-floating">
      <input type="email" class="form-control" id="username" name="username" placeholder="name@example.com" >
      <label for="floatingInputGrid">Email </label>
    </div>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <div class="form-floating">
       <input type="password" id="form2Example2" name="password"class="form-control" placeholder="g"/>
              <label  for="form2Example2">Contraseña</label>
    </div>
             
            </div>

            <!-- 2 column grid layout for inline styling -->
            <div class="row mb-4 pt-5">
              <div class="col d-flex justify-content-center">
                <!-- Checkbox -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                  <label class="form-check-label" for="form2Example31"> recordar </label>
                </div>
              </div>

              <div class="col">
                <!-- Simple link -->
                <a href="#!">Olvido contraseña?</a>
              </div>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4 ">iniciar</button>

          </form>

        </div>
      </div>
    </div>
  
<!-- Section: Design Block -->
			</div>
			
		</div>

	</div>



</body>
</html>